@{
    ViewBag.Title = "Home";
}


<section id="slider_wrapper" class="slider_wrapper full_page_photo">
     <div id="main_flexslider" class="flexslider">
          <ul class="slides">
               <li class="item" style="background-image: url(../../../images/yoga-day.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1 class="skincolored animated bounceInDown">We celebreated <br><strong>International Yoga Day! </strong></h1>
                              <p class="lead animated bounceInUp">On Sunday, June 21st, MAFS helped celebrate <strong>the first International Yoga Day</strong> and <a href="http://news.yahoo.com/india-set-celebrate-modis-yoga-day-010413685.html" target="_blank"><strong>bent it like Modi</strong></a> at Odeum Expo Center in Villa Park, IL. </p>
                              @*<span class="round_badge"><strong><i class="fa fa-twitter"></i></strong><strong>V3</strong></span> </div>*@
                               <a class="btn btn-outline" href="#"><i class="fa fa-info"></i>&nbsp; Read more &raquo;</a> 

                         </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(../../../images/ihm-2015.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1>June is <br>
                                   <strong>Immigrant Heritage Month!</strong> </h1>
                              <p class="lead skincolored">Throughout the month, we'll be celebrating both our diversity and our shared American heritage by telling the stories of individuals that, together, comprise a uniquely American narrative.</p>
                                <a class="btn btn-outline dark" href="http://welcome.us/" target="_blank"><i class="fa fa-info"></i>&nbsp; Learn more &raquo;</a>
                         </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(../../../images/rally.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1 class="skincolored"><strong>subtle</strong> animations<br>
                                   &amp; a <strong>fresh</strong> collapsing <strong>header effect</strong></h1>
                              <p class="lead">if you are looking for <a href="services.html"><strong>a bold approach</strong></a> you will love the header effect,<br>
                                   but even if you like <a href="page_alternative.html"><strong>a more conservative feel</strong></a>, you can always try the boxed alternative!</p>
                         </div>
                    </div>
               </li>
          </ul>
     </div>
</section>

<div class="main">
    <div class="container">
        <h2 class="section_header elegant centered"><small>Welcome to the new </small> Metropolitan Asian Family Services!</h2>

        <div class="row">
            <section>
                @Html.Action("getProgramTile", "Program", null)
            </section>
            <section>
                @Html.Action("getRandomFunder", "Home", new { id = 4 })
            </section>
        </div>

    </div>


