@model IEnumerable<MAFS_ReStart.Models.Location>

    @{
        ViewBag.Title = "Locations";
    }


    <div class="full_page_photo" style="background-image: url(../../../images/board-of-directors.jpg);">
        @*     <div class="container">
                      <section class="call_to_action">
                           <h3 class="animated bounceInDown">MAFS is a <strong>community based</strong> organization</h3>
                           <h4 class="animated bounceInUp skincolored">We have been serving the Chicagoland community <strong>for over 20 years!</strong></h4>
                      </section>
                 </div>
            </div>
            <div class="main">
                 <div class="container">
                      <section class="hgroup">
                           <h1>About us</h1>
                           <h2>To provide comprehensive & integrated Social Services to the Immigrant population of India, Pakistan, Bangladesh, the Middle East & European countries. These services include but are not limited to <strong>educate, counsel, assist & empower
            individuals & families</strong> to become productive members in their new home.
            </h2>
                           <ul class="breadcrumb pull-right">
                                <li><a href="index.html">Home</a> </li>
                                <li class="active">About us</li>
                           </ul>
                      </section>

                      <section class="team_members">
                           <h2 class="section_header fancy centered">Meet our Team... <small>they are always up to something good!</small></h2>
                           <div class="row"> *@

        <div class="container">
            <section class="call_to_action">
                <h3 class="animated bounceInDown">Our <strong>Board of Directors</strong></h3>
                <h4 class="animated bounceInUp skincolored">Pillars in the South Asian <strong>Community</strong></h4>
            </section>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <section class="hgroup">
                @*<h1>About us</h1>*@
                <h2>
                    To provide comprehensive & integrated Social Services to the Immigrant population of India, Pakistan, Bangladesh, the Middle East & European countries. These services include but are not limited to <strong>
                        educate, counsel, assist & empower
                        individuals & families
                    </strong> to become productive members in their new home.
                </h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="/">Home</a> </li>
                    <li><a href="/Home/About2">About Us</a> </li>
                    <li class="active">Board of Directors</li>
                </ul>
            </section>
            @foreach (var location in Model)
            {
                <h2>@location.CityName</h2>
                <p>
                    @location.AddressLine1
                    <br />
                    @location.AddressLine2
                </p>
                
            }


        </div> @*end div*@
