@{
    ViewBag.Title = "Services";
    }


<div class="full_page_photo" style="background-image: url(../../../images/coverphotos/healthy-lifestyle.jpg);">


    <div class="container">
        <section class="call_to_action">
            <h3 class="animated bounceInDown">Our <strong>Services</strong></h3>
            <h4 class="animated bounceInUp skincolored">Programs that help support <strong>our underserved population</strong></h4>
        </section>
    </div>
</div>
<div class="main">
    <div class="container">
        <section class="hgroup">
            @*<h1>About us</h1>*@
            <h2>
                To provide comprehensive & integrated Social Services to the Immigrant population of India, Pakistan, Bangladesh, the Middle East & European countries. These services include but are not limited to <strong>
                    educate, counsel, assist & empower individuals & families
                </strong> to become productive members in their new home.
            </h2>
            <ul class="breadcrumb pull-right">
                <li><a href="/">@ViewContext.RouteData.Values["controller"].ToString()</a> </li>
                <li class="active">@ViewContext.RouteData.Values["action"].ToString()</li>
            </ul>
        </section>
     </div>
    <div class="container">
        <div class="row">
               <div class="col-sm-4 col-md-4">
                    <div class="service_teaser vertical">
                         <div class="service_photo">
                              <figure style="background-image:url(../images/serv_6.jpg)"></figure>
                         </div>
                         <div class="service_details">
                              <h2 class="section_header skincolored"><b>Nutrition</b>Programs<small>To eat is a necessity, but to eat intelligently is an art.</small></h2>
                               <p>Our staff and members strongly believe in this adage. We serve hot, fresh, home-cooked meals that take into account the dietary requirements and traditions of Indians, Pakistanis, and Bangladeshis.  We also help educate participants on choosing the right kind of foods that help prevent & manage diseases like diabetes and hypertension which are common in our culture.  </p>
                             <a class="btn btn-primary" href="#"><i class="fa fa-info"></i>&nbsp; Optional button</a> </div>
                    </div>
               </div>

            <div class="col-sm-4 col-md-4">
                    <div class="service_teaser vertical">
                         <div class="service_photo">
                              <figure style="background-image:url(../images/education.jpg)"></figure>
                         </div>
                         <div class="service_details">
                              <h2 class="section_header skincolored"><b>Education</b>Programs<small>At MAFS we believe in education.</small></h2>
                               <p>Education and knowledge help you better understand yourself and the world around you. It also helps you obtain a higher paying job.  To help educate and train our community we offer educational and technical programs including English as a Second Language, Bright Ideas and Computer training.  
 </p>
                             <a class="btn btn-primary" href="#"><i class="fa fa-info"></i>&nbsp; Optional button</a> </div>
                    </div>
               </div>

            <div class="col-sm-4 col-md-4">
                    <div class="service_teaser vertical">
                         <div class="service_photo">
                              <figure style="background-image:url(../images/research.jpg)"></figure>
                         </div>
                         <div class="service_details">
                              <h2 class="section_header skincolored"><b>Research</b>Programs<small>We partner with the leading health and educational institutions to explore and study problems that concern our culture the most.</small></h2>
                               <p>We have collaborated with Northwestern University’s Feinberg School of Medicine to teach the South Asian community how to make important dietary changes, engage in an active lifestyle, reduce stress, and lose weight to reduce or prevent their chances of stroke and/or heart attacks  We also partner with the Asian Health Coalition on two projects.  The first is the Pink Pashmina project which offers free breast cancer screenings and mammograms to South Asian woman.  The second is to provide our community with free screening and testing for Hepatitis B. </p>
                             <a class="btn btn-primary" href="#"><i class="fa fa-info"></i>&nbsp; Optional button</a> </div>
                    </div>
               </div>


            <div class="col-sm-4 col-md-4">
                    <div class="service_teaser vertical">
                         <div class="service_photo">
                              <figure style="background-image:url(../images/serv_6.jpg)"></figure>
                         </div>
                         <div class="service_details">
                              <h2 class="section_header skincolored"><b>Research</b>Programs<small>We partner with the leading health and educational institutions to explore and study problems that concern our culture the most.</small></h2>
                               <p>We have collaborated with Northwestern University’s Feinberg School of Medicine to teach the South Asian community how to make important dietary changes, engage in an active lifestyle, reduce stress, and lose weight to reduce or prevent their chances of stroke and/or heart attacks  We also partner with the Asian Health Coalition on two projects.  The first is the Pink Pashmina project which offers free breast cancer screenings and mammograms to South Asian woman.  The second is to provide our community with free screening and testing for Hepatitis B. </p>
                             <a class="btn btn-primary" href="#"><i class="fa fa-info"></i>&nbsp; Optional button</a> </div>
                    </div>
               </div>

            <div class="col-sm-4 col-md-4">
                    <div class="service_teaser vertical">
                         <div class="service_photo">
                              <figure style="background-image:url(../images/serv_6.jpg)"></figure>
                         </div>
                         <div class="service_details">
                              <h2 class="section_header skincolored"><b>Research</b>Programs<small>We partner with the leading health and educational institutions to explore and study problems that concern our culture the most.</small></h2>
                               <p>We have collaborated with Northwestern University’s Feinberg School of Medicine to teach the South Asian community how to make important dietary changes, engage in an active lifestyle, reduce stress, and lose weight to reduce or prevent their chances of stroke and/or heart attacks  We also partner with the Asian Health Coalition on two projects.  The first is the Pink Pashmina project which offers free breast cancer screenings and mammograms to South Asian woman.  The second is to provide our community with free screening and testing for Hepatitis B. </p>
                             <a class="btn btn-primary" href="#"><i class="fa fa-info"></i>&nbsp; Optional button</a> </div>
                    </div>
               </div>


            </div><!-- End Row -->

            
    </div> <!-- End Container -->
