
<article class="post">
    <div class="post_header">
        <h3 class="post_title">TITLE lll B</h3>
        @*<div class="post_sub"><i class="fa-time"></i> March 10, 2014 <a href="single_post.html#post_comments"><i class="fa-comments-alt"></i> 6 comments</a> </div>*@
    </div>
    <div class="post_content">
        @*<figure>

                    <img alt="0" src="~/images/about.jpg">

            </figure>*@
        <p class="columns_2">
            @*<img alt="0" src="~/Images/book/title-3.png" width="50%">*@MAFS is a pioneer in providing social services to low-income and underserved populations. The demand for these kinds of services is increasing due to the slow recovery of our economy. MAFS staff assists clients in accessing public benefits available to fit their individual needs. Our staff helps fill-out applications for these services and escorts them to the appropriate public benefit offices such as Department of Human Services or Social Security Administration, Immigration and Naturalization to submit the application and serve as their interpreter. We also translate official forms in Hindi, Urdu, Gujarati, Spanish and Bosnian languages to facilitate the process of applying for benefits. Our staff acts as liaisons between the client and public officials to help our community members get the help and support they require. This year we had the privilege of helping complete 6,225 cases in Cook, Suburban Cook County, DuPage and Lake County.

        </p>


    </div>
</article>

<article class="post">
    <div class="post_header">
        <h3 class="post_title">ENERGY ASSISSTANCE PROGRAM (LIHEAP)</h3>
        @*<div class="post_sub"><i class="fa-time"></i> March 10, 2014 <a href="single_post.html#post_comments"><i class="fa-comments-alt"></i> 6 comments</a> </div>*@
    </div>
    <div class="post_content">
        @*<figure>

                    <img alt="0" src="~/images/about.jpg">

            </figure>*@
        <p class="columns_2">
            
            
            The Light Heat Energy Assistance Program is designed to help low-income families pay their heat and light bills. This program is offered multiple times throughout the year and brings hundreds of people from all nationalities to our Chicago and Niles offices. Many of them arrive before the office opens and wait in line for hours to benefit from this program. This service is funded by the Community and Economic Development Association of Cook County (CEDA). MAFS’ staff help clients in processing their application in order to receive funds. This year we have helped 1,225 eligible families through this program.

        </p>


    </div>
</article>

<article class="post">
    <div class="post_header">
        <h3 class="post_title">AFFORDABLE CARE ACT(OBAMACARE)</h3>
        @*<div class="post_sub"><i class="fa-time"></i> March 10, 2014 <a href="single_post.html#post_comments"><i class="fa-comments-alt"></i> 6 comments</a> </div>*@
    </div>
    <div class="post_content">
        @*<figure>

                    <img alt="0" src="~/images/about.jpg">

            </figure>*@
        <p class="columns_2">
            
            Metropolitan Asian Family Services has collaborated with the Asian Health Coalition for assisting our community with the Affordable Care Act also known as Obamacare. It was the state-run outreach and education program offered to all legal residents of Illinois to enroll into Medicaid or Marketplace health insurance.
            We have enrolled over 450 individuals into Medicaid or Marketplace health insurance and reach out to over 1500 people through outreaching at temples, mosques, churches and Gurudwaras.

        </p>


    </div>
</article>

<article class="post">
    <div class="post_header">
        <h2 class="section_header skincolored">SENIOR HEALTH INSURANCE PROGRAM (SHIP)</h2>
            @*<div class="post_sub"><i class="fa-time"></i> March 10, 2014 <a href="single_post.html#post_comments"><i class="fa-comments-alt"></i> 6 comments</a> </div>*@
</div>
    <div class="post_content">
        @*<figure>

                    <img alt="0" src="~/images/about.jpg">

            </figure>*@
        <p class="columns_2">
            MAFS is Senior Health Insurance Program (SHIP) certified. Take advantage of our free statewide health insurance counseling service for Medicare and Medicaid beneficiaries Our staff members, Nazneen Begum, and Connie Dogaru, have recently attended a state facilitated 4 day training and are now SHIP certified counselors. Seniors with any Medicare or Medicaid queries can contact them for appointments.

        </p>


    </div>
</article>

<div class="service_teaser">
    <div class="row">
        <div class="service_photo col-sm-4 col-md-4">
            <figure style="background-image:url(../../Images/book/title-3.png)"></figure>
        </div>
        <div class="service_details col-sm-8 col-md-8">
            <h2 class="section_header skincolored"><b>SENIOR HEALTH INSURANCE PROGRAM <small>(SHIP)</small></h2>
            <p> MAFS is Senior Health Insurance Program (SHIP) certified. Take advantage of our free statewide health insurance counseling service for Medicare and Medicaid beneficiaries Our staff members, Nazneen Begum, and Connie Dogaru, have recently attended a state facilitated 4 day training and are now SHIP certified counselors. Seniors with any Medicare or Medicaid queries can contact them for appointments.
</p>
            @*<a class="btn btn-success pull-right" href="~/Program/Info/@program.Title"><i class="fa fa-info"></i>&nbsp; Learn More</a>*@
        </div>
    </div>
</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> TITLE lll B </a> </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <p class="columns_2">
                    MAFS is a pioneer in providing social services to low-income and underserved populations. The demand for these kinds of services is increasing due to the slow recovery of our economy. MAFS staff assists clients in accessing public benefits available to fit their individual needs. Our staff helps fill-out applications for these services and escorts them to the appropriate public benefit offices such as Department of Human Services or Social Security Administration, Immigration and Naturalization to submit the application and serve as their interpreter. We also translate official forms in Hindi, Urdu, Gujarati, Spanish and Bosnian languages to facilitate the process of applying for benefits. Our staff acts as liaisons between the client and public officials to help our community members get the help and support they require. This year we had the privilege of helping complete 6,225 cases in Cook, Suburban Cook County, DuPage and Lake County.
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Collapsible Group Item #2 </a> </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> Collapsible Group Item #3 </a> </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
        </div>
    </div>
</div>


<div class="bs-example-tabs">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#profile">Profile</a></li>
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a data-toggle="tab" href="#dropdown1">@@fat</a></li>
                <li><a data-toggle="tab" href="#dropdown2">@@mdo</a></li>
            </ul>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div id="home" class="tab-pane fade in active">
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div id="profile" class="tab-pane fade">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
        <div id="dropdown1" class="tab-pane fade">
            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
        </div>
        <div id="dropdown2" class="tab-pane fade">
            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
        </div>
    </div>
</div>


    <p>
        @HttpContext.Current.Request.Url.AbsoluteUri
    </p>
